/* .link a svg{display: inline-block; font-size: 1.5rem;}
.link a {display: flex;justify-content: center; align-items: center; flex-direction: column;text-decoration: none; color: #1B317D; font-family: 'Montserrat';font-size: .8rem;}
.link-container{display: flex;width: 100%; justify-content: space-evenly;gap: .8rem;}
.navBar{position: fixed; bottom: 0; padding: .5rem;box-shadow: #9ab0ea 0px 2px 4px 0px,#6576b4 0px 2px 16px 0px;width: 100%;z-index: 10;background-color: #fff;}

.promotion .out {position: absolute; font-size: 2rem; bottom: 2.4rem;display: flex;justify-content: center; align-items: center;height: 4.5rem;width: 4.5rem; border-radius: 50%;background-color: #fff; border:2px solid #6576b4;}
.promotion .out .in{display: flex;justify-content: center; align-items: center;height: 3rem;width: 3rem; border-radius: 50%;background-color: #fff;background-color: #1B317D; }

.promotion .out .in svg{font-size: 2rem; color: #ffffff;}
.pro-txt{ padding-top: 1.4rem;} */

.navBar{padding: 0; position: fixed; bottom:0; max-width:500px;}
.link-container{background: linear-gradient(180deg, #00406F 0%, #2B62A5 100%); box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20);}
.link-container .col-3 a{color: #8BBCDF; text-align: center; font-family: 'Montserrat'; font-size: 0.75rem; font-style: normal; font-weight: 500;}
.nav-Link{display: flex; flex-direction: column; justify-content: center; align-items: center; padding:10px 12px; gap:4px; margin: .5rem 0;color: #8BBCDF;font-family: Montserrat;font-size: 12px;font-weight: 500;}
.link-container .col-3 a p{margin: 0;}
.link-container .link :hover{border-radius:5px;background: linear-gradient(180deg, #FB4040 0%, #E0CA02 100%);box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);color: #FFF;}
.active{border-radius:5px; background: linear-gradient(180deg, #FB4040 0%, #E0CA02 100%);box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);color: #FFF;}
.link-container .link a img{height: 20px;}
.navBar .link-container .link .activeLink{border-radius: 0.625rem;border-radius: 10px;background: linear-gradient(180deg, #FB4040 0%, #E0CA02 100%);box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);color: #d31414}
.link-container{display: flex;align-items: center;justify-content: space-between;padding: 0 10px;}

.link-container .link :hover p, 
.link-container .link :hover i{box-shadow: none;background: none;}

.link-container .link i{font-size: 20px;}

@media(min-width:500px){
    .navBar{max-width:500px;}
}
