.form-rechrge{display: flex;flex-direction: column;gap: .8rem; border-radius: 8px;padding: 3rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.form-rechrge input{border-radius: 8px;padding-left: .4rem;}
.form-rechrge button{background-color: dodgerblue; color: aliceblue;border: 0; outline: none; padding: .3rem 0;}