.form-rechrge{display: flex;flex-direction: column;gap: .8rem; border-radius: 8px;padding: 3rem;border-radius: 1.25rem;
    border: 2px solid #295992; color: #fff;width: 50%;font-family: Montserrat;}
.form-rechrge input{border-radius: 8px;padding: .5rem;}
.form-rechrge button{background-color: dodgerblue; color: aliceblue;border: 0; outline: none; padding: .4rem 0;}