.terms p , .terms h4 {margin-top: 1rem;}

.terms-back-btn{border: 0;outline: none;padding: .4rem 1rem; background-color: aliceblue; color: #103782; margin-top: 1.3rem;font-size: 1.2rem;font-weight: 500;}

@media(min-width:768px){.terms{width: 30vw;margin: auto;}}