.desktop, .login-container{max-width:450px; margin: 0 auto; background: #003d69;}
.forgotPage{min-height: 100vh; background:#003D69;}
.forgotPage .container-fluid {padding:40px 20px; padding-top:20px;}
.forgotPage .wrapper .logo-container {position: relative;}
.forgotPage .wrapper .container-fluid {border-radius:30px 30px 0 0; position:relative; top:-64px; padding-top:1.6rem; background:#003D69 url('../../images/elipse.svg') top center no-repeat; background-size: cover;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputBox:hover{border: 1px solid #26B5E2;
  box-shadow: 0px 2px 4px 0px rgba(38, 181, 226, 0.80);}
.front{padding-right: 1rem;border-right: 1px solid #1970AE }
.forgotPage .container-fluid .title-container {margin-top: 8rem;}
.forgotPage .container-fluid .logo-container .logo {position: absolute;}
.forgotPage .container-fluid .logo-container .back-btn {position: absolute;left: 0;top: 1.7rem;}
.forgotPage .container-fluid .inputBox {margin-top: 2rem;}
.inputBox {display: flex;padding: 15px;align-items: center;color: #fff;font-family: "Montserrat";align-self: stretch;border-radius: 5px;justify-content:space-between;border: 1px solid #4e8db1;gap: .5rem;margin-bottom: 1.5rem;}
.inputBox input {color: #fff;font-family: "Montserrat";font-size: 16px;font-style: normal;font-weight: 500;line-height: normal;letter-spacing: 0.9px;background-color: transparent;border: 0;outline: none;}
.otp p {color: #579DD0;text-align: center;font-family: "Montserrat";font-size: 13px;font-style: normal;font-weight: 400;line-height: normal;}
.wrapper{position: relative;}
.top .row{background: url('../../images/banner-forgotpwd.svg'); height:240px; margin: 0;}
.back{padding-top: 1rem; padding-left: 1rem;}
.head{padding-top: 1rem; padding-right: 1rem;}
.title{margin-top: 1rem !important;text-align: center;}
.top{overflow: hidden;}
.top .row .col-8{color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00688rem;
    text-transform: capitalize; padding-top: 1rem;}
    .btn-container{margin-top: 3rem;}
.passwordChange-btn{margin-top: 3rem;}
/*.back-btn{outline: none; border: 0; background-color: transparent;}*/
/*.top-btn{border-radius: 6.25rem;
    background: linear-gradient(143deg, #C82F36 0%, #EC4E55 100%);
    box-shadow: 0px 4px 15px 0px rgba(200, 47, 54, 0.80);padding: 16px 30px;font-family: 'Dosis'; color: #FFF;border: 0;letter-spacing: 2.2px; outline: none;font-weight: 500; margin-top: 1rem; width: 100%;}*/
/*  .bot-btn{width: 100%;text-align: center;background: transparent;border-radius: 6.25rem;border: 1px solid #E5B21B;box-shadow: 0px 2px 10px 0px #E8A806;font-weight: 500; padding: 16px 30px;font-family: 'Dosis'; color: #E7AC17;border: 0;letter-spacing: 2.2px; outline: none;font-weight: 500; margin-top: 1.5rem;}*/

.inputBoxInner{display: flex;}

  .btn-container{margin-top: 3rem;}
  @media (min-width:500px){
    .desktop{
      display: block;
      margin:0 auto;
    }
    .inputBox {
      gap: 1rem;
  }
}