.PromoNav{background: #001C3E; background-image: url('../../images/belips.png');background-position: bottom; background-repeat: no-repeat; padding:15px 1.5rem;border-bottom: 1px solid #133B77;}
.PromoNav .row .col-8{color: #FFF;text-align: center;font-family: 'Montserrat';font-size: 1.1rem;font-weight: 500;letter-spacing: 0.00688rem;}
.upi{background: #001C3E;overflow: hidden;min-height: 100vh;}
.body{padding: 1rem;}
.step-container{display: flex; align-items: center;gap: 1.2rem;margin: 1.2rem 0;}
.steps{width: max-content;border-radius: 0.3125rem;background: #CC4217;display: flex;padding: 0.25rem 0.75rem;align-items: center;color: #FFF;font-family: Montserrat;
font-size: 1rem;font-weight: 500;}
.step-data{color: #FFF;font-family: Montserrat;font-size: 1rem;font-style: normal;font-weight: 500;line-height: 190%; /* 166.667% */}
.upiId-container{border: 2px solid #3778C6; border-radius: 1.2rem;padding: 1rem;}
.upiId-container .row{border-bottom: 1px solid #14548E;padding: .5rem ;margin:0 .5rem ;}
.upiId-container .row .col-9 h6{color: #29CEE4;font-family: Montserrat;font-size: 1rem;font-style: normal;font-weight: 300;line-height: normal;}
.upiId-container .row .col-9 p{color: #FFF;font-family: Montserrat;font-size: 1.1rem;font-style: normal;font-weight: 500;letter-spacing: 0.00563rem;}
.upiId-container .row .col-3 button{border: 1px solid #3778C6;background: #033066; border: 0; outline: none;    padding: 0.625rem;color: #FFF;text-align: center;font-family: Montserrat;font-size: 1rem;
}
.upiId-container .row .col-3 {display: flex;
    justify-content: center;
    align-items: center;}
    .qrCode{margin: 1rem 0;padding: 2rem;display: flex;justify-content: center;align-items: center;}
.upiId-container> p{color: #1494A9;font-family: Montserrat;font-size: 0.875rem;font-style: normal;font-weight: 400;}
.ref{background: transparent;color: #FFF;font-family: Montserrat;font-size: 1rem;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: 0.02rem;padding: .25rem; border: 0; outline: none;width: 100%;}
.ref-container{border: 1px solid #1B92AC;background: #143D7A;padding: .2rem;display: flex;align-items: center; margin-top: 1.2rem;}
.upi-btn-row{display: flex; justify-content: space-between; margin-top: 3rem;}
.upi-btn-row .col-6{width: 48%; outline: none; border: 0;padding: 0.75rem 2.5rem;justify-content: center;align-items: center;border-radius: 12.5rem;
    border: 1px solid #FFF;
    /* background: linear-gradient(143deg, #B92E34 0%, #DC4C53 100%); */
    box-shadow: 0px 4px 5px 0px rgba(200, 47, 54, 0.40); color: #FFF;font-family: Montserrat;font-size: 1rem;}
.ref-txt{ color: #FFF;font-family: Montserrat;font-size: 1rem;margin: 2rem 0;}
.ref-imges{margin-bottom: 4rem;}
.qr-img{width: 8rem;margin: auto;margin-left: 30%;}
@media(min-width:500px){
    .upi{max-width:500px; display: block; margin:0 auto;}
}