.PromoNav{background: #001C3E; background-image: url('../../images/belips.png');background-position: bottom; background-repeat: no-repeat; padding:15px 1.5rem;border-bottom: 1px solid #133B77;}
.PromoNav .row .col-8{color: #FFF;text-align: center;font-family: 'Montserrat';font-size: 1.1rem;font-weight: 500;letter-spacing: 0.00688rem;text-transform: capitalize;}
.recharge{background: #001C3E;overflow: hidden;}
.payment-heading{color: #FFF;font-family: Montserrat;font-size: 1.125rem;font-style: normal;font-weight: 500;margin-bottom: 1.5rem;}
.bankCardBox{color: #fff; background: linear-gradient(143deg, #296DAC 0%, #2FB0E7 100%);padding: 1.2rem; margin: 1.2rem 0;border-radius: 1rem; border: 2px solid #FFD700;}
.recharge-btn .row .col-10 {border: 0; outline: none;background: #033066; padding: 1rem;width: 93%;}
.recharge-btn .row .col-10 :hover .col-6{background: linear-gradient(180deg, #E82A33 0%, #F55961 100%);}
.recharge-btn .row button p{color: #FFF;font-family: Montserrat;font-size: 1rem;font-style: normal;font-weight: 400;letter-spacing: 0.02rem; margin-top: .5rem;}
.recharge-btn{margin:0 1rem;}
.recharge-btn .row .transaction{background: linear-gradient(180deg, #E82A33 0%, #F55961 100%);}
.recharge-bottom{border-radius: 1.25rem 1.25rem 0rem 0rem;
    background: #033066;padding: 1.875rem 0rem; margin-top: 2rem;}
.money-btn-row{display: flex ; justify-content: space-evenly; margin-top: 1rem;}
.money-btn-row .col-3{border: 0; outline: none;padding: .7rem 1rem;color: #FFF;font-family: Montserrat;font-size: 1rem;font-style: normal;font-weight: 400;line-height: normal;letter-spacing: 0.0225rem;border: 1px solid #1B92AC;background: #143D7A;}
.inputRow{border: 1px solid #1B92AC;
    background: #143D7A;width: 93%; margin: 1rem 0 !important;}
.inputRow .col-2{ display: flex;justify-content: center;align-items: center;border-right: 1px solid #1B92AC;padding: .5rem;width: 15%;}
.inputRow .col-10 input{ border: 0; outline: none;background: transparent; padding: .5rem;color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02rem;}
    .inputRow .col-10{display: flex; align-items: center;}
.recharge-Button button{border-radius: 6.25rem;
    border: 2px solid #FFF;
    background: linear-gradient(139deg, #0F7A2D 0%, #148C20 55.21%, #40CB78 100%);border: 0; outline: none; width: 90%;padding: 0.875rem 1.25rem;color: #FFF;
    font-family: Montserrat;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;margin:4rem 0 3rem 0;}
    .recharge-Button{display: flex; justify-content: center;}
    .AddCard-Button{display: flex; justify-content: center;}
    .AddCard-Button button{border-radius: 6.25rem;
        border-radius: 6.25rem;
border: 2px solid #E2D228;
background: linear-gradient(180deg, #144A7A 0%, #14747A 100%);color: #FFF;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 450;
line-height: normal;
letter-spacing: 0.02rem;display: flex; justify-content: center;align-items: center; padding: .5rem 0;gap: 1.2rem;}
    .container .money-btn-row .selected{ background: linear-gradient(180deg, #E92B34 0%, #F5575F 100%);;}
    .withdraw-chart{border-radius: 0.625rem;border: 2px solid #31C7DB;box-shadow: 0px 4px 10px 0px rgba(49, 199, 219, 0.60); margin-top: 2rem;    width: 90%;}
.withdraw-chart .row{display: flex;padding: .8rem 0rem;align-items: center;border-bottom: 1px solid #1B92AC;}
.profile-logo-Wrapper{display: flex;width: 2.5rem;height: 2.5rem;padding: 0.625rem;
justify-content: center;align-items: center;border-radius: 6.25rem;background: #17478F;}
.withdraw-chart .row .col-10{color: #FFF;font-family: 'Montserrat';font-size: 1rem;font-style: normal;font-weight: 400;letter-spacing: 0.02rem;}
/* For Chrome, Safari, and newer versions of Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
.wallet {
    padding: 1rem;
}
/* For Firefox 
input[type="number"] {
    -moz-appearance: textfield;
}*/
.winWallet {background: linear-gradient(180deg, rgba(5, 42, 86, 0.80) 0%, rgba(10, 171, 182, 0.80) 100%);padding: 1.5625rem;border-radius: 1.2rem;border: 1px solid #295992;
}
/* For older versions of Edge */
input[type="number"]::-ms-inner-spin-button,
input[type="number"]::-ms-outer-spin-button {
    appearance: none;
}

@media(min-width:500px){
    .recharge{max-width:500px; display: block; margin:0 auto;}
    }