.PromoNav{background: #001C3E; background-image: url('../../images/belips.png');background-position: bottom; background-repeat: no-repeat; padding:15px 1.5rem;border-bottom: 1px solid #133B77;}
.PromoNav .row .col-8{color: #FFF;text-align: center;font-family: 'Montserrat';font-size: 1.1rem;font-weight: 500;letter-spacing: 0.00688rem;text-transform: capitalize;}
.bankCardbody{background-color: #001C3E;min-height: 100vh;padding: 1rem;}
.bank-card-head .col-2{border-radius: 50%;
background: #CC4217;height: 3rem; width: 3rem;display: flex; justify-content: center;align-items: center;}
.bank-card-head {display: flex;align-items: center;}
.bank-card-head .col-10 {color: #FFF;font-family: Montserrat;font-size: 1.125rem;font-style: normal;font-weight: 500;}
.form-container{padding: 1rem; border: 2px solid #164278;border-radius: 1rem; margin-top: 1.5rem;}
.bank-Card-box{margin-bottom: 1rem;}
.bank-Card-box input{    border: 1px solid #1A5E9D;background: #04285F;width: 100%;display: flex;height: 3.125rem;padding: 0.5rem;align-items: center;margin-top: .5rem;color: #FFF;font-family: Montserrat;font-size: 1rem;
font-weight: 400;letter-spacing: 0.02rem;}
.label{color: #1494A9;font-family: Montserrat;font-size: 0.875rem;font-style: normal;font-weight: 400;line-height: normal;}
.withdraw-Button button{border-radius: 6.25rem;
    border: 2px solid #FFF;
    background: linear-gradient(139deg, #0F7A2D 0%, #148C20 55.21%, #40CB78 100%);border: 0; outline: none; width: 100%;padding: 0.875rem 1.25rem;color: #FFF;
    font-family: Montserrat;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;margin:4rem 0 3rem 0;}