.CommissionHistory{min-height: 100vh; color: #10345F;color: aliceblue;}
.CommissionHistory .container .row{padding: 0.25rem ; border-bottom: 1px solid rgb(21, 146, 242); }
.commissionHistoryRow .col-4 , .commissionHistoryRow .col-3{display: flex; justify-content: center;align-items: center;}
.headingCommission .col-4{font-weight: 500;}
.salary-commission-data{display: flex;justify-content: space-between;margin: .5rem 0;}
.salary-commission-data .price-wrap{background: rgb(34,193,195);
    background: linear-gradient(339deg, rgba(34,193,195,1) 49%, rgb(255 255 255) 94%); border-radius: 5px;text-align: center;color: #10345F;padding: .3rem;font-weight: 500; font-size: 1.2rem;    margin-bottom: 10px;}
    .salary-commission-data .price-wrap p{font-size: 0.7rem; margin: 0;padding: 0;}
    @media (max-width:430px) {
        .salary-commission-data> .col-3{font-size: .7rem ;line-height: 120%;}
        .commissionHistoryRow>div{font-size: .8rem;text-wrap: wrap;}
    }
