.CommissionHistory{min-height: 100vh; color: #10345F;color: aliceblue;}
.CommissionHistory .container .row{padding: 0.25rem ; border-bottom: 1px solid rgb(21, 146, 242); }
.commissionHistoryRow .col-4 , .commissionHistoryRow .col-3{display: flex; justify-content: center;align-items: center; }
.headingCommission .col-4{font-weight: 500;}