.inc-dec-btns{display: flex;gap: 1.2rem; margin-top: 2rem;}
.inc-dec-btns button{display: flex;justify-content: center;align-items: center;padding: .3rem;}
.user-input{border: 0; outline: none; padding: .4rem;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;margin-bottom: 2rem; width: 20rem;}
.admin-rightSection{padding: 1.5rem;background-color:#001C3E;width: 100%;}
.table-row th{margin-left: 4rem;text-align: center;}
.table-row td{margin-left: 5rem;text-align: center;}


table th {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
    padding: .8rem .5rem; 
    text-align: left; 
    width: 4rem;
  }
  table td {
    width: 4rem;
    padding: .8rem .5rem; 
    text-align: left;
    color: #fff;
    font-family: Montserrat;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;

  }
  

  table {
    border-collapse: collapse; 
    width: 100%; 
  }
  

  table tr:nth-child(even) {
    border-bottom: 1px solid #0B5A8F;
background: rgba(2, 55, 91, 0.50);
    color: #fff;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.875rem; 
  }
  .inc-dec-btns div{color: #fff;
    font-family: Montserrat;}
  .inc-dec-btns button{color: #fff;
    font-family: Montserrat; border: 0;outline: none;background-color: #0B5A8F;}