
.user-input{border: 0; outline: none; padding: .4rem;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; width: 20rem;}
.admin-rightSection{padding: 1.5rem;background-color:#001C3E;width: 100%;}
.table-row th{margin-left: 4rem;text-align: center;}
.table-row td{margin-left: 5rem;text-align: center;line-height: normal;}

.total-wallet-amount{background: #fff; color:#001C3E;padding: 1.5rem; border-radius: 1rem;width: max-content;margin-bottom: 2rem;}
.total-wallet-amount h4 , .total-wallet-amount div{text-align: center;}
.total-wallet-amount div{font-size: 2rem; font-weight: 600;}
.all-user-top{display: flex; gap: 2rem ; align-items: center;margin-bottom: 2rem;}
table th {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 14px;
  font-weight: 400;
line-height: normal;
    padding: .8rem .5rem; 
    text-align: left; 
    width: 4rem;
  }
  table td {
    
    width: 4rem;
    padding: .8rem .5rem; 
    text-align: left;
    color: #fff;
    font-family: Montserrat;
    font-size: .8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;

  }
  

  table {
    border-collapse: collapse; 
    width: 100%; 
  }
  

  table tr:nth-child(even) {
    border-bottom: 1px solid #0B5A8F;
background: rgba(2, 55, 91, 0.50);
    color: #fff;
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.875rem; 
  }
  .inc-dec-btns div{color: #fff;
    font-family: Montserrat;}
  .inc-dec-btns button{color: #fff;
    font-family: Montserrat; border: 0;outline: none;background-color: #0B5A8F;}
    .login-user{background-color: rgb(33, 116, 223);color: #fff; padding: .3rem 1rem;border: 0;outline: none;width: 6rem;}
    .userModalBody{background: #001C3E; display: flex; justify-content: space-between;width: 100%;}
    .userModalBody h5 , .userModalBody div{ color: #fff;margin: .6rem 0;;}
    .userModalBody>div> div>input{ color: #fff;background: #001C3E ; border: 1px solid rgb(29, 176, 239); border-radius: 5px; margin-left: 1.2rem; padding: 3px 5px 3px 10px;align-items: right;}
    .userModalBody>div> div{display: flex;justify-content: space-between}
    .userUpdate{    border-radius: 12.5rem;
      border: 1px solid #FFF;
      background: linear-gradient(143deg, #296DAC 0%, #2FB0E7 100%);
      padding: .5rem 3rem;
      color: #FFF;
     }