.home .container{border-bottom: 1px solid #133B77; background: #001C3E; background-image: url('../../images/belips.png'); background-position: bottom; background-repeat: no-repeat;}
.home .container .col-2{display: flex; justify-content: center; align-items: center;}
.download svg{font-size: 2rem; color:#ffffff;}
.home .container .col-8 {text-align: center;}
/* .home .container .col-8 img {margin-left: 3rem;} */

.main-background{background: #001C3E ; display: block; margin: auto; max-width:500px;}
.home-row{padding: 1.2rem 0;}
.popup-Home{position: relative;width: 100vw;}
.popup-Home img{max-width:92vw;height: 100vh;}
.popup-close{position: absolute;
    right: 18px;outline: none;background: transparent;border: 0;}
.popup-close svg{color: #fff; font-size: 2rem;}
@media(min-width:500px){
    .main-background{max-width:500px;}
    .popup-Home{max-width:500px;}
    .popup-Home img{max-width:470px;}
    /* .popup-Home img{max-width:500px;} */
}